<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/pra.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />


</head>

<body>

  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="signup" id="navBar" class="alen">Sign Up</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar" class="alen">Home</a></li>
          <li><a href="signup" id="navBar" class="alen">Plans</a></li>
          <li><a href="signup" id="navBar" class="alen">Photos</a></li>
        </ul>
      </div>
    </nav>

    <div class="video-wrap">
      <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
        <source src="/images/videobg.mp4" type="video/mp4">
      </video>
    </div>

    <div class="content">
      <h1 id="title" class="animated zoomIn">Be U the start</h1>
      <!-- <h2>Visit. Explore. Live. </h2> -->
      <h2 class="os">Meet your mentor today!</h2>
    </div>
    </section>
  </div>
  <section>

    <div class="row" style="background-color:#e8eef2; margin-top:15px; margin-bottom:0; padding:30px;">

      <div class="col s5" style="background-color:#e8eef2; height:554px;margin-bottom: 0px;">
        <img src="/images/Final_product.png" class="iconic" alt="" width="900px;" height="400px" style="margin-top:15px; margin-bottom:0px;">
      </div>
      <div class="col s7" style="font-size:25px; text-align:center;">
        <p style="font-family:aliens_and_cows; font-size:150px; margin:10px;">Welcome</p>
        <p style="font-family:Oswald; color:grey; font-size:30px;"> Want to travel? Travel Easy</p>
      </div>

    </div>

  </section>
  <section>

    <div style="background-color:#e8eef2; height:auto;">
      <div class="row" style="background-color:#e8eef2;">

        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/5.png" class="iconic" alt="">
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/2.png" class="iconic" alt="">
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/4.png" class="iconic1" alt="">
        </div>
      </div>
      <div class="row" style="background-color:#e8eef2;">
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p class="os">NEW THINGS</p>
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p class="os">WORTH IT</p>
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p class="os">NEW EXPERIENCES</p>
        </div>
      </div>

      <div class="row" clas>
        <div class="col s6" style="font-size:25px; text-align:center;">
          <img src="/images/3.png" alt="">
        </div>


        <div class="col s6" style="font-size:25px; text-align:center;">
          <img src="/images/1.png" alt="">
        </div>
        <div class="row">
          <div class="col s6" style="font-size:25px; text-align:center;">
            <p class="os">SENSE OF ADVENTURE</p>
          </div>


          <div class="col s6" style="font-size:25px; text-align:center;">
            <p class="os">The time of your life</p>
          </div>

        </div>
      </div>
      <br><br><br>

  </section>

  <section class="margs" class="os"> 

    <div class="col1" class="">
      <div class="">
        <div class="row" style="height:550px;" class="col1">
          <div class="col s12"></div>
          <br>
          <div class="col s6" style="font-size:40px;" class="center" class="os">
            <br>
            <br><p class="os"> Sometimes people don't know where or why to travel. Some don't have enough information.</p>
          </div>
          <div class=" col s6 " style="height:500px; ">
            <img src="/images/micah-h-14077.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
        </div>


        <div class="row" style="height:550px;">
          <div class=" col s6 " style="height:500px; ">
            <img src="/images/mn.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
          <div class="col s6 " style="font-size:40px;" class="col2" class="os">
            <br><p class="os">With personalizatios we help you choose better your travel.</p> 
          </div>
        </div>

        <div class="row" style="height:550px; margin:0;" class="margs">
          <br>
          <div class="col s6 " style="font-size:40px;" class="col1">
          <p class="os">  We provide you with everything you need in a single page so you make the right choice.</p>
          </div>
          <div class=" col s6 " style="height:500px;">
            <img src="/images/photo-1486464256516-bf8144f28bd8.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
        </div>
      </div>
    </div>
  </section>



  <div style="background-color:#e8eef2;allign:right; " class="os">

    <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:1100px; font-size:40px; text-align:right; "
      id="band ">
      <br>
      <h2 class="w3-wide "></h2>
      <!-- <p class="w3-opacity "><i>Travel Right</p> -->
      <p class="leftAlign " class="os">
        We offer videos vlogs, blogs, pictures, things to do, real experiences from people, and much more.
      </p>
    </div>
  </div>


  <section>
    <footer class="page-footer " style="background-color:#37393a; ">
      <div class="container ">
        <div class="row ">
          <div class="col l6 s12 ">
            <h5 class="white-text ">Meet your mentor today!</h5>
            <p class="grey-text text-lighten-4 "></p>
          </div>
          <div class="col s12 ">
            <div class=" ">

            </div>
            <h5 class="white-text ">Social Media</h5>
            <div class="container1" >
              <div class="row">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
                <div class="test">
                  <a href="#">
                    <p>Facebook</p>
                  </a>
                  <a href="#">
                    <p>Twitter</p>
                  </a>
                  <a href="#">
                    <p>Google+</p>
                  </a>
                  <a href="#">
                    <p>Github</p>
                  </a>
                  <a href="#">
                    <p>Dribble</p>
                  </a>
                  <a href="#">
                    <p>CodePen</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright ">
        <div class="container ">
          © 2017 Copyright
        </div>
      </div>
    </footer>

  </section>



</body>


</html>