<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/pra.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
  <section>
    <div class="banner">
         <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
      
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar" class="alen">Home</a></li>
          <li><a href="vlogs" id="navBar" class="alen">Vlogs</a></li>
          <li><a href="photo" id="navBar" class="alen">Photos</a></li>
        </ul>
      </div>
        <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      <div>     
      

        <form method="post" action="">

        
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Type in your username.." autocomplete="off" required />
        
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password.." autocomplete="off" required />
        
          <a class="forgot" href="#">Forgot Password?</a>
          <a class="register" href="register">Register</a>
        
          <input type="submit" name="submit" value="Log In" />
        
        </form>
    </div>
    <div class="video-wrap">
      <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
        <source src="/images/giphy.mp4" type="video/mp4">
      </video>
    </div>

  </section>






</body>


</html>